$color1: #05080D;
$color2: #141A26;
$color3: #516073;
$color4: #A8B5BF;
$color5: #F2F2F2;

$main-font-family: 'Lato', sans-serif;

* {
    box-sizing: border-box;
    font-family: $main-font-family;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: $color2;
    background-color: $color5;
}

p {
    margin: 0;
}

////////////////////////
//       HEADER       //
////////////////////////

.header {
    background-color: $color2;
    color: $color4;
    border-bottom: 1px $color1 solid;
    .logo-container {
        display: flex;
        justify-content: start;
        align-items: center;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            margin: 0 1.2em;
            text-align: center;
        }
        .logo-img {
            max-width: 100%;
            height: auto;
        }
    }
}

////////////////////////
//    MAIN CONTENT    //
////////////////////////

.main {
    position: relative;
    display: flex;
    flex: 1 0 auto;
}

.content {
    flex: 1 0 auto;
}

.content-information {
    display: flex;
    max-width: 500px;
    width:100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    .content-header {
        border-bottom: 1px $color4 solid;
        .content-title {
            margin: .1em 0;
        }
        .stats {
            color: $color3;
        }
    }
}

////////////////////////
//       NAVBAR       //
////////////////////////

.nav {
    width: 80px;
    background-color: $color1;
    color: $color3;
    z-index: 1;
    .nav-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 0.8em;
        height: 80px;
        cursor: pointer;
    }
    .nav-icon.active {
        transition: color 0.5s;
        color: $color5;
    }
    p {
        user-select: none;
    }
}

////////////////////////
//       SIDEBAR      //
////////////////////////

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    visibility: hidden;
    width: 200px;
    height: 100%;
    background-color: $color2;
    color: $color5;
    user-select: none;
    .sidebar-items {
        padding: .8em;
        overflow-y: auto;
    }
    .item {
        display: flex;
        align-items: center;
        gap: .5em;
        padding: .5em;
        margin-bottom: .5em;
        border-radius: .4em;
        h4 {
            margin: 0;
            overflow-x: auto;
        }
        input {
            width: 100%;
            font-size: 1em;
            border: none;
            display: none;
        }
    }
    .item.selected {
        background-color: $color3;
    }
    .item:hover {
        cursor: pointer;
    }
}

.item.editable {
    h4 {
        display: none;
    }
    input {
        display: inline-block;
    }
}

.sidebar.active {
    visibility: visible;
    animation: show-sidebar .5s forwards;
    .edit-actions {
        visibility: hidden;
    }
    .edit-actions.active{
        visibility: visible;
    }
}

@keyframes show-sidebar {
    from {opacity: 0;}
    to {opacity: 1; transform: translateX(80px)}
}

////////////////////////
//   SIDEBAR ACTIONS  //
////////////////////////

.sidebar-actions {
   display: flex;
   justify-content: space-between;
   padding: .6em .5em .6em;
   border-top: 3px $color3 solid;
   .action {
       font-size: 1.1em;
       color: $color3;
       margin: 0 .3em;
    }
    .action:hover {
       color: $color5;
       cursor: pointer;
    }
    .edit-actions {
        i {
            margin: 0 .4em;
        }
    }
}

////////////////////////
//       FOOTER       //
////////////////////////

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 0.2em;
    background-color: $color2;
    color: $color4;
    border-top: 1px $color1 solid;
    .link, a {
        color: $color3;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $color4;
        cursor: pointer;
    }
}
